aiohttp==3.7.3
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.21.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.4.7
et-xmlfile==1.1.0
idna==2.10
ldap3==2.9
multidict==5.1.0
ntlm-auth==1.5.0
openpyxl==3.0.7
pyasn1==0.4.8
pycparser==2.20
requests==2.25.1
requests-ntlm==1.1.0
soupsieve==2.2.1
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.6.3
cryptography
aiogram==2.15